<br>

<p><c>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong> Conectado em: &nbsp;&nbsp <%= current_user.email %>&nbsp;&nbsp&nbsp;&nbsp <%= link_to ' LOG OUT', destroy_user_session_path, method: :delete  %> &nbsp;&nbsp&nbsp;&nbsp <p5 id="notice"><%= notice %></p5></c></strong></p>

<br>

<center>

<p>
<font size="5.7" face="Verdana">

  <t1><strong>NOME:</strong><t1><br><br>
  <%= @post.name %>

<br>
<br>
<br>
<br>

<t1><strong>TTÍTULO:</strong><t1><br><br>
  <%= @post.title %>

<br>
<br>
<br>
<br>

<t1><strong>DESCRIÇÃO:</strong><t1><br><br>
  <%= @post.description %>

<br>
<br>
<br>
<br>

<t1><strong>EMAIL:</strong><t1><br><br>
  <%= @post.email %>

<br>  
<br>
<br>
<br>

<%= link_to 'EDITAR', edit_post_path(@post) %> |
<%= link_to 'VOLTAR', posts_path %>

</font>
</p>

</center>

<style >/* style é a parte de css */
        body{
            background-color: rgb(80, 0, 0);
            font: normal 20pX Arial;
        }
        h0{
            color:rgb(0, 0, 255)
            font: normal 30pX Arial; 
        }
        h1{
            color:rgb(0, 0, 255) 
        }
        t1,t2,lk{
            color:rgb(255, 255, 255) 
        }
        c{
            color:rgb(0, 0, 255) 
        }
</style>